<h1>Your Task Manager</h1>

<h3>Welcome! Here are your tasks</h3>
<p>Click on a task</p>

<ul>
  <% @tasks.each do |mytask| %>
    <li>
      <%= link_to task_path(mytask.id) do %>
      <%= mytask.name %>
      <% end %>
    </li>
  <% end %>
</ul>
